<!DOCTYPE html>
<html>
<head>
<title>Ruslan Moiseev - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Ruslan Moiseev."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<%= image_tag('headshot.jpg', alt: 'Ruslan Moiseev') %>
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Ruslan Moiseev</h1>
			<h2 class="quickFade delayThree">Ruby On Rails Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li> <a href="mailto:blog@rusinfoproduct.ru" target="_blank">blog@rusinfoproduct.ru</a></li>
				<li><a href="http://www.bloggs.com">www.rusinfoproduct.ru</a></li>
				<li>telegram: rubynzon</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I'm a Ruby on Rails developer and Devops with a high technical skill level and over 5 years of full-stack website development experience in 3+ programming languages. punctual, diligent, do not have bad habits, responsible for the work, sociable in communicating with people. I appreciate decency in people, the ability to keep their word.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>System administrator AllianceProfi</h2>
					<p class="subDetails">April 2006 - March 2014</p>
					<p>System adminstration. Network maintenance, Linux administration, solution of technical problems.</p>
				</article>
				
				<article>
					<h2>Wordpress and woocommerce developer</h2>
					<p class="subDetails">April 2014  - January 2016</p>
					<p>Developing all sorts of WordPress sites from the ground up, with a huge load of custom functionality or the simplest ones. Building custom WordPress themes and plugins according to your demands. Working on the design of any of your WordPress site's pages. Updating WordPress themes and plugins to their latest versions and making sure there are no compatibility issues. Fixing bugs left by other WordPress developers or caused by plugin-plugin or theme-plugin conflicts.
						Building in integration with third-party services and APIs.</p>
				</article>
				
				<article>
					<h2>ROR Developer MoneyGo</h2>
					<p class="subDetails">February 2016 -  July 2019</p>
					<p>Server side configuration.
						API configuration and integration with partner networks (Setting up the transfer of statistics on the perfect customer conversions in the CRM of the supplier of goods).
						Landing page optimization.
						Installation and adjustment of landing pages in the CPA network system.
						Backend development.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Professional skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Ruby / Ruby On Rails</li>
					<li>Rspec</li>
					<li>React, Flatter</li>
					<li>DB: MySQL / PostgreSQL / Redis / Mongo</li>
					<li>Cloud hosting: AWS / Google Cloud / Heroku</li>
					<li>API integration: Facebook, Twitter, Instagram, Braintree, Stripe and more</li>
					<li>Golang/Beego</li>
					<li>Bash scripting</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Coursera</h2>
					<p class="subDetails">Qualification</p>
					<p>Development of web services in Golang.</p>
				</article>
				
				<article>
					<h2>Kuban State Technological University</h2>
					<p class="subDetails">Qualification</p>
					<p>I Received a diploma in State and municipal management and qualified as an economist.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		<br/>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>